html{
  box-sizing: border-box;
}
body {
  width:100%;
  font-family: "Open Sans", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header{
  background: url(../gray.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.navigation{
 display: flex;
 align-items: center;

 justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, .5)
}
.navigation ul li{
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.navigation ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  font-size: 20px;
  font-weight: 600;
  padding:20px;
  transition: all ease .5s;
}
.navigation ul li a:hover{
 background-color: #b6b1a9;
 color: rgba(0, 0, 0, .5);
}
.header .brand{
  position: absolute;
  top: 50%;
  left: 50% ;
  transform: translate(-50%, -50%);
  text-align: center
}
.header .brand p{
  font-weight: 600;
  font-size: 40px;
  letter-spacing: .05em;
  text-shadow: 
    2px 2px 0px rgba(178, 10, 48, 0.2), 
    4px 4px 0px rgba(182, 177, 169, 0.2);
}
.header .brand span{
  font-weight: 300;
  font-size: 20px;

  letter-spacing: .05em;
}


/*.card{
  margin: 50px auto;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(178, 10, 48);
  padding:0;
}*/
.body-content {
  background: url(../gray.jpg);
  background-attachment: fixed;
  display: flex;

	flex-direction: column;
	min-height: 100vh;
  margin: 0;
  padding: 40px;

}


.section{
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
  }
  
  .card h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .card h2 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  
  .card-preview {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 40px;
    width: 300px;
  }
  
  .card-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
  }
  
  .card-info {
    padding: 30px;
    position: relative;
    width: 100%;
    padding:40px;
    height: 130px;
    color: #777
  }
  

  
  .see-more {
    background-color: rgba(178, 10, 48);
    border: 0;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 14px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease .8s;

  }
  .see-more:hover{
   color: rgba(178, 10, 48);
    background-color: #b6b1a9;
  }
  .footer{
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    color: #b6b1a9
  }
  .divider{
    text-align: center;
    padding: 2rem;
  }
  .divider p{
    font-weight: 600;
  font-size: 30px;
  letter-spacing: .05em;
  text-shadow: 
    2px 2px 0px rgba(178, 10, 48, 0.2), 
    4px 4px 0px rgba(182, 177, 169, 0.2);
  }